<!doctype html> 
<html> 
<head> 
    <title>{% block title %} Traffic Lights {% endblock %}</title> 
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta charset="utf-8"> 
<meta name="description" content="Traffic Lights - User Powered Traffic Information System"/> 

<!-- Combo-handled YUI CSS files: -->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?2.9.0/build/reset-fonts-grids/reset-fonts-grids.css">

<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Oswald&v2' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="/static/css/style.css"/> 

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.timeago.js"></script>
</head> 

<body>

    {% block content %}
    {% endblock %}

<br/><br/><small style="position: relative; top: 50px"><center>Done by <a href="http://abhiomkar.in">@abhiomkar</a></center></small>
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=true">
</script>
</body>
</html>
