<!doctype html> 
<html> 
<head> 
    <title>{% block title %} Traffic Lights {% endblock %}</title> 
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta charset="utf-8"> 
<meta name="description" content="Traffic Lights - User Powered Traffic Information System"/> 

<!-- Combo-handled YUI CSS files: -->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?2.9.0/build/reset-fonts-grids/reset-fonts-grids.css">

<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Oswald&v2' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="/static/css/login.css"/> 
<link rel="stylesheet" href="/static/css/style.css"/> 
<link rel="stylesheet" type="text/css" href="/static/css/buttons.css"> 
<link rel="stylesheet" type="text/css" href="/static/css/tipTip.css">
</head> 

<body>

    {% block content %}
    {% endblock %}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=true">
</script>

<script type="text/javascript">

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
  // global
  var latlng; 

  function initialize(lot, lng) {
    lot = typeof(lot) != 'undefined' ? lot : -34.397;
    lng = typeof(lng) != 'undefined' ? lng : 150.644;
    latlng = new google.maps.LatLng(lot, lng);
    var myOptions = {
      zoom: 14,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    var marker = new google.maps.Marker({
          position: latlng,
          title:"My Current Location!"
      });

    marker.setMap(map);
  }

    $(document).ready(function() {
        var watchProcess = null,
        en_buttons = false,
        cur_latitude = 0,
        cur_longitude = 0,
        cur_str_addr = '',
        tr_dense_lvl = 0,
        cur_latlng= '0,0',
        geocoder = new google.maps.Geocoder();

        navigator.geolocation.getCurrentPosition(geoloc_query);

        function initiate_watchlocation() {
            if (watchProcess == null) {
                watchProcess = navigator.geolocation.watchPosition(geoloc_query);
            }
        }

        function geoloc_query(pos) {
            if(en_buttons == false) {
                en_buttons = true;
                $(".checkin_buttons strong").hide();
                $(".checkin_buttons input").show();
            }
            cur_latitude = pos.coords.latitude;
            cur_longitude = pos.coords.longitude;
            cur_latlng= cur_latitude + ',' + cur_longitude

            console.log('lat: ' + pos.coords.latitude);
            console.log('lng: ' + pos.coords.longitude);
            initialize(pos.coords.latitude, pos.coords.longitude);
        }

        // Set Map to Current Location
        initialize();
        // Keep Watching the User's Current Location
        initiate_watchlocation();

        // EVENTS
        $(".checkin_buttons input").click(function() {
            var postCheckin = function() {
             $.ajax({
                    url: '/-post/',
                    type: 'POST',
                    success: function(response) {
                                // DEBUG
                                console.log('got response');
                                var $alertdiv = $('<div id="notification"/>');
                                $alertdiv.text(response);
                                $alertdiv.bind('click', function() {
                                    $(this).slideUp(200);
                                });
                                $(document.body).append($alertdiv);
                                $("#notification").slideDown("slow"); 
                                setTimeout(function() { $alertdiv.slideUp(200) }, 8000);
                             },
                    headers: { "X-CSRFToken": getCookie('csrftoken') },
                    crossDomain: false,
                    data: { "latitude": cur_latitude, 
                            "longitude": cur_longitude,
                            "street_address": cur_str_addr,
                            "traffic_dense_level": tr_dense_lvl,
                            "latlng": cur_latlng
                          }
                }); // end of ajax()
                return false;
              }

            tr_dense_lvl = parseInt($(this).attr("name"));

            geocoder.geocode({'latLng': latlng}, function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                if (results[0]) {  
                  cur_str_addr = results[0].formatted_address;
                }
                postCheckin();
              } else {
                alert("Geocoder failed due to: " + status);
              }});

            // DEBUG
            console.log("latitude: "+ cur_latitude +"\n longitude: "+ cur_longitude + "\n street_address: "+ cur_str_addr + "\n traffic_dense_level: " + tr_dense_lvl);

            }); // end of click()
        }); // end of ready()
</script>
</body>
</html>
