{% extends 'base.html' %}

{% block content %}
<div id="doc3" class="container"> 
    <header id="header" class="container"> 
    <h1><a href="/" class="title logo">Traffic Lights</a></h1> 
    <a href="/checkins" class="check_roads floatright">Check Roads</a>
    <div class="clearboth"></div>
    </header> 
    <div id="map_canvas" style="width:98%; height:200px"></div>
    <div class="checkins_nearby">

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        // global
        var watchProcess = null,
        en_buttons = false,
        cur_latitude = 0,
        cur_longitude = 0,
        cur_str_addr = '',
        tr_dense_lvl = 0,
        cur_latlng= '0,0',
        geocoder = new google.maps.Geocoder(),
        myOptions, latlng, map ;

        // Events
        function addMapClickEvent(){
            $(".tr_result a").click(function(e) {
                    console.log('clicked!');
                    e.preventDefault();
                    var ll = $(this).find('.tr_addr').attr('name');
                    console.log('ll: ' + ll);
                    showMarker(ll);
                    return false;
            });
        }

        navigator.geolocation.getCurrentPosition(geoloc_query);

        function initiate_watchlocation() {
            if (watchProcess == null) {
                watchProcess = navigator.geolocation.watchPosition(geoloc_query);
            }
        }

        function geoloc_query(pos) {
            if(en_buttons == false) {
                en_buttons = true;
            }
            cur_latitude = pos.coords.latitude;
            cur_longitude = pos.coords.longitude;
            cur_latlng= cur_latitude + ',' + cur_longitude

            // console.log('lat: ' + pos.coords.latitude);
            // console.log('lng: ' + pos.coords.longitude);
            // initialize(pos.coords.latitude, pos.coords.longitude);
        }

        function showMarker(latlng_s) {
            ll = latlng_s.split(',');
            lat = ll[0];
            lng = ll[1];
            latlng = new google.maps.LatLng(lat, lng);
            myOptions = {
              zoom: 14,
              center: latlng,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            var marker = new google.maps.Marker({
              position: latlng
            });

            marker.setMap(map);  
        }

        function showResultsMap(data) {
            for (var i = 0; i < data.length ; i++) {
                ll_s = data[i].latlng;
                ll = data[i].latlng.split(',');
                street_addr = data[i].street_addr;
                tr_dense = data[i].tr_dense;
                $(".checkins_nearby").append("<div class='tr_result'><a href='javascript:void(0);'><span class='tr_dense"+tr_dense+"'>&nbsp;</span><span name='"+ll_s+"' class='tr_addr'>"+street_addr+"</span></a></div><div class='clearboth'></div>");
                lat = ll[0];
                lng = ll[1];
                latlng = new google.maps.LatLng(lat, lng);
                if (i === 0) {
                    first_latlng = latlng;
                    myOptions = {
                      zoom: 14,
                      center: latlng,
                      mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                }else {
                    myOptions = {
                      zoom: 14,
                      mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                }

                map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
                var marker = new google.maps.Marker({
                  position: latlng,
                  title: street_addr
                });

                marker.setMap(map);  
            }
            addMapClickEvent();
        }

        // Set Map to Current Location
        // Keep Watching the User's Current Location
        function getCheckins() {
            $.ajax({
                url: '/-getcheckins',
                type: 'GET',
                success: function(response) {
                            console.log('got the list');
                            latlng = new google.maps.LatLng(cur_latitude, cur_longitude);
                            myOptions = {
                              zoom: 14,
                              center: latlng,
                              mapTypeId: google.maps.MapTypeId.ROADMAP
                            };
                            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
                            showResultsMap(eval(response));
                        },
                data: { "latitude": cur_latitude,
                        "longitude": cur_longitude
                        }
                });
        }

        getCheckins();
        initiate_watchlocation();

        }); // end of ready()
</script>
{% endblock %}
