{% extends 'base.html' %}

<!-- the id on the containing div determines the page width. -->
<!-- #doc = 750px; #doc2 = 950px; #doc3 = 100%; #doc4 = 974px -->
{% block content %}
<div id="doc3" class="homepage container"> 
    <header id="header" class="container"> 
    <h1><a href="/" class="title logo">Traffic Lights</a></h1> 
    <div class="clearboth"></div>
    </header> 
    <div id="map_canvas" style="width:100%; height:200px"></div>

    <div class="checkin_buttons">
        <strong>Loading Current Location...</strong>
        <input type="button" name="3" class="red_checkin_btn redbtn" value="RED" style="display: none" />
        <input type="button" name="2" class="orange_checkin_btn orangebtn" value="ORANGE" style="display: none" />
        <input type="button" name="1" class="green_checkin_btn greenbtn" value="GREEN" style="display: none" />
    </div>
    <div class="street_address">
    </div>
    <div class="notification">
    </div>
    <!--<form name="" class="" method="POST" action="/"> {% csrf_token %}-->
        <!--<input type="submit" class="" value="" />-->
    <!--</form> -->

</div>
{% endblock %}
